footer {
  background: #f5f5f5;
  padding: 78px 210px;
  display: flex;
}

.footer__brands {
  width: 235px;
}

.footer__brands > h1 {
  line-height: 39px;
}

.footer__brands > p {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.15px;
  padding: 23px 0 33px 0;
}

.footer__brands .socials__list {
  display: flex;
}

.footer__brands .socials__list li {
  margin-right: 18px;
}

.footer__link {
  width: 356px;
  height: 174px;
  margin: 0 128px 0 68px;
}

.footer__link > p {
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
  padding-top: 12px;
  margin-bottom: 28px;
}

.footer__link .exploreLink {
  display: grid;
  grid-template-columns: 159px 160px;
  grid-column-gap: 37px;
  grid-row-gap: 11px;
}

.footer__link .exploreLink li {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.15px;
}

.footer__contact {
  max-width: 237px;
  max-height: 199px;
}

.footer__contact > p {
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  padding-top: 12px;
  margin-bottom: 28px;
}

.footer__contact .fContact li {
  font-size: 14px;
  margin-bottom: 16px;
}

.footer__contact .fContact li span {
  margin-right: 18px;
}

.end {
  width: 1440px;
  height: 60px;
  padding: 0 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.15px;
}

.footer__link .exploreLink a {
  color: black;
}

.footer__link .exploreLink a:hover {
  color: #f2726f;
}

.footer__link .exploreLink a:active {
  background: -webkit-linear-gradient(right, #dc4946, #f2726f, #ffc533);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
